@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Janin web-demo</h1>
    <h2 class="varastoarvo">..mut Villen tuunauksilla!</h2>
    <p class="varastoarvo"> Tämä on oma web-demo-sovellukseni! </p>
</div> 